@model EmployeeSearchResultViewModel
@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm("Search", "Employee"))
{
    <table class="table-bordered">
        <tr>
            <td>
                @Html.TextBoxFor(x => x.EmployeeSearchParameters.FirstName, null, new { placeholder = "First Name" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.EmployeeSearchParameters.LastName, null, new { placeholder = "Last Name" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.EmployeeSearchParameters.Address, null, new { placeholder = "Address" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.EmployeeSearchParameters.Profession, null, new { placeholder = "Profession" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.EmployeeSearchParameters.TelNumber, null, new { placeholder = "TelNumber" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.EmployeeSearchParameters.Website, null, new { placeholder = "Website" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.EmployeeSearchParameters.Email, null, new { placeholder = "Email" })
            </td>
        </tr>
    </table>
    <input type="submit" class="btn btn-success" value="Search..." />
}
<p></p>
<p><br /></p>
@Html.ActionLink("Create user", "Create", "Employee", null, new { @class = "btn btn-dark", role = "button" })
<p><br /></p>
<p><br /></p>
<div><h2>Employees list:</h2></div>
<div>
    @if (Model.Employees.Count > 0)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Profession</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Website</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>
                            @if (!string.IsNullOrEmpty(employee.PhotoName))
                            {
                                <img width="80" src="/EmployeeBusinessCard/uploaded-user-photos/@employee.PhotoName" />
                            }
                            else
                            {
                                <img width="80" src="~/images/no-photo.png" />
                            }
                        </td>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                        <td>@employee.Address</td>
                        <td>@employee.Profession</td>
                        <td>@employee.PhoneNumber</td>
                        <td>@employee.Website</td>
                        <td>@employee.Email</td>
                        <td>
                            @using (Html.BeginForm("Delete", "Employee"))
                            {
                                @Html.Hidden("id", employee.Id)

                                <input type="submit" value="Delete" class="btn btn-danger" />
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Update", "Employee", new { id = employee.Id }, new { @class = "btn btn-warning" })
                        </td>
                        <td>
                            @Html.ActionLink("Show Print Version", "ShowPrintVersion", "Employee", new { id = employee.Id }, new { @class = "btn btn-info" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <text>There are no employees</text>
    }
</div>
