@model EmployeeBusinessCard.Models.EmployeeViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print Version</title>
    <link href="@Url.Content("~/css/main.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="home-page-link">
        @Html.ActionLink("Go to home page", "Index", "Employee")
        <p></p>
    </div>
    @for (int i = 0; i < 10; i++)
    {
        <div class="card">
            <div class="column-left">
                <p class="first-name">@Model.FirstName</p>
                @Html.ValidationMessageFor(model => model.FirstName)
                <p class="last-name">@Model.LastName</p>
                @Html.ValidationMessageFor(model => model.LastName)
                <p class="profession">@Model.Profession</p>
                @Html.ValidationMessageFor(model => model.Profession)
            </div>
            <div class="column-right">
                <p class="address">@Model.Address</p>
                @Html.ValidationMessageFor(model => model.Address)
                <p>&nbsp;</p>
                <p><img class="phone-ico" src="~/images/Icons8-Windows-8-Mobile-Phone.ico" />@Model.TelNumber</p>
                <p><img class="web-info" src="~/images/email.ico" />@Model.Email</p>
                <p><img class="web-info" src="~/images/globe_world_icon_0.ico" />@Model.Website</p>
            </div>
        </div>
    }
    <div>
        <button class="print-page-button" onclick="window.print();">Print business cards</button>
    </div>
</body>
</html>
